<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="w-full h-screen bg-zinc-900 text-white p-10 flex justify-center gap-x-3"
    >
      <form method="get" action="/login">
        <input
          class="px-5 py-2 rounded-md bg-blue-500 cursor-pointer"
          type="submit"
          value="Log in"
        />
      </form>
      <form method="get" action="/signupPage">
        <input
          class="px-5 py-2 rounded-md bg-blue-500 cursor-pointer"
          type="submit"
          value="Sign up"
        />
      </form>
    </div>
  </body>
</html>
